<div id='page_wrapper'>
	<div id='profile_image'>
		<%= image_tag "profile.jpeg"%>
	</div>

	<div id="content">
		<h1> It's Mr. Stick Man </h1>
		<p> I'm baby jianbing vice cold-pressed, try-hard gochujang taiyaki kinfolk readymade mlkshk tousled flexitarian jean shorts humblebrag shabby chic. Chillwave occupy ennui, chambray DIY microdosing fashion axe tbh man braid raw denim cred synth. Palo santo drinking vinegar yuccie, plaid waistcoat offal fanny pack seitan slow-carb knausgaard edison bulb master cleanse literally cred. Neutra cornhole dreamcatcher, listicle occupy swag vegan glossier selvage. Chillwave paleo kogi, af shoreditch man bun lo-fi hoodie prism ennui hell of organic raw denim raclette williamsburg. Next level post-ironic pop-up humblebrag pinterest put a bird on it succulents kinfolk woke subway tile enamel pin pug iPhone pork belly. Taxidermy heirloom keffiyeh, forage asymmetrical unicorn slow-carb ugh typewriter bespoke poke. </p>
	</div>
</div>

